{% extends "base.html" %}

{% block content %}

<!--<h2 align="center" id="dashheader">Wescam</h2> -->
<h1 align ="center"> <img align="middle" src="http://i.imgur.com/z8XLwbb.png?1"  alt="logo" > </h1>
<h3 align="center" id="currordersheader">Crushes</h3>
<form action="/addCrush/" method="post">
    {% csrf_token %}
    <label for="crush_username">Username: </label>
    <input id="crush_username" type="text" name="crush_username">
    <input type="submit" value="Send">
</form>
<table align="center">
{% for crush in received_crushes %}
    <tr>
        {% if crush.reciprocated %}
        <td>{{crush.crushee}} (Reciprocated)</td>
        {% else %}
        <td>{{crush.nickname}}</td>
        {% endif %}
    </tr>
{% endfor %}
{% for crush in sent_crushes %}
    <tr>
        {% if crush.reciprocated %}
        <td>{{crush.crushee}} (Reciprocated)</td>
        {% else %}
        <td>{{crush.crushee}}</td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}